.s-featured-tours {
  @include s-basics;
  overflow: hidden;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__intro {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0;
  }

  &__slider-nav {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: 1fr;
    }
  }

  &__slider-wrapper {

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 12;
      grid-row: 1;
    }
  }

  &__slider-control-wrap {

    @media (min-width: $screen-sm) {
      grid-column: 1 / span 12;
      grid-row: 1;

      &::before {
        --aspect-ratio: 16/6;
        display: block;
        padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
        content: '';
      }
    }
  }

  &__slider-control-inner {

    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }

  &__slider-progressbar {
    margin-top: 30px;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__slider-fraction {
    margin-top: 55px;
    font-weight: 500;
    color: $text-c--muted;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    .swiper-pagination-current {
      margin-right: 10px;
      font-size: 15px;
      line-height: 1.4em;
      color: $text-c;
    }

    .swiper-pagination-total {
      font-size: 12px;
    }
  }
}
