.s-featured-yachts {
  @include s-basics;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @media (min-width: $screen-sm) {
      gap: 45px 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    @media (min-width: $screen-md) {
      gap: 45px 30px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }
}
