.s-tour {

  &__hero {
    position: relative;
    color: $white;
    background-color: $bg-c--dark;
  }

  &__promo {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 90vh;
    min-height: 420px;
    max-height: 540px;
    padding: 30px 20px;

    @media (min-width: $screen-xs) {
      padding: 45px;
    }
  }

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 30px;
  }

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 710px;
    margin-bottom: 25px;

    @media (min-width: $screen-xs) {
      margin-bottom: 40px;
    }
  }

  &__label {
    color: #fff;
    background-color: rgba(#fff, 0.125);
  }

  &__hero-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $screen-xs) {
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__order {

    @media (max-width: ($screen-xs - 1px)) {
      order: 2;
    }
  }

  &__price {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.45em;

    @media (max-width: ($screen-xs - 1px)) {
      order: 1;
      margin-bottom: 15px;
    }

    span {
      margin-left: 10px;
      font-size: 39px;
      font-weight: 600;
      line-height: 1.1em;
    }

    &::after {
      position: relative;
      top: 3px;
      display: inline-block;
      margin-left: 10px;
      font-weight: 600;
      vertical-align: top;
      content: '₽';
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $bg-c--dark;
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 30px 20px 45px;

    @media (min-width: $screen-xs) {
      padding: 45px 45px 90px;
    }

    @media (min-width: $screen-sm) {
      padding: 60px 45px 120px;
    }
  }

  &__info-layout {

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 0 30px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__spec {
    padding-top: 30px;
    border-top: 1px solid $border-c;

    @media (min-width: $screen-xs) {
      grid-column: 1 / span 12;
    }

    @media (min-width: $screen-md) {
      grid-column: 1 / span 6;
    }
  }

  &__include {
    --dot-c: #d3d8de;
    padding-top: 30px;
    border-top: 1px solid $border-c;

    &--free {
      --dot-c: #50931f;
      margin-top: 30px;

      @media (min-width: $screen-xs) {
        grid-column: 1 / span 6;
      }

      @media (min-width: $screen-md) {
        grid-column: 7 / span 3;
        margin-top: 0;
      }
    }

    &--add {
      --dot-c: #ad2b1f;
      margin-top: 30px;

      @media (min-width: $screen-xs) {
        grid-column: 7 / span 6;
      }

      @media (min-width: $screen-md) {
        grid-column: 10 / span 3;
        margin-top: 0;
      }
    }
  }

  &__include-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__include-item {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;

    @media (max-width: ($screen-xs - 1px)) {
      padding-left: 20px;
    }

    &::before {
      position: absolute;
      top: 7px;
      right: calc(100% + 10px);
      width: 8px;
      height: 8px;
      content: '';
      background-color: var(--dot-c);
      border-radius: 8px;
      opacity: 0.25;

      @media (max-width: ($screen-xs - 1px)) {
        right: calc(100% - 8px);
      }
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $text-c--muted;

    @media (min-width: $screen-sm) {
      margin-bottom: 15px;
    }

    span {
      position: relative;
      display: inline-flex;
      vertical-align: top;

      &::after {
        position: absolute;
        top: 50%;
        left: calc(100% + 15px);
        width: 30px;
        height: 1px;
        content: '';
        background-color: $primary-c;
      }
    }

    &--accent {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2em;
      color: $text-c;

      &::after {
        left: calc(100% + 30px);
      }
    }
  }

  &__spec-list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      grid-area: spec-list;
    }
  }

  &__spec-item {
    padding: 0;
    margin: 0;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (min-width: $screen-xs) {
        margin-bottom: 30px;
      }
    }
  }

  &__full-desc {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid $border-c;

    @media (min-width: $screen-xs) {
      grid-column: 1 / span 12;
      margin-top: 45px;
    }

    @media (min-width: $screen-md) {
      display: grid;
      margin-top: 120px;
      gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__intro {

    @media (min-width: $screen-md) {
      grid-column: 1 / span 3;
    }
  }

  &__text {

    p {
      max-width: 75ch;
    }

    @media (min-width: $screen-md) {
      grid-column: 4 / span 9;
      columns: 3;
      gap: 30px;
    }
  }
}
