.s-promo {
  position: relative;
  color: $white;
  background-color: $bg-c--dark;

  &__info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 90vh;
    min-height: 500px;
    max-height: 750px;
    padding: 20px 20px 30px;

    @media (min-width: $screen-xs) {
      padding: 45px 45px 35px;
    }
  }

  &__container {
    @include container;
  }

  &__title {
    max-width: 18ch;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-f--serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2em;

    @media (min-width: 375px) {
      font-size: 39px;
      line-height: 1.1em;
    }

    @media (min-width: $screen-xs) {
      font-size: 56px;
      line-height: 1em;
      letter-spacing: -0.01em;
    }
  }

  &__directions {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 15px;
    list-style: none;

    @media (min-width: $screen-xs) {
      display: flex;
      margin: 0 0 30px;
    }
  }

  &__direction {
    padding: 0;
    margin: 0 15px 15px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.35em;

    @media (min-width: $screen-xs) {
      margin: 0 30px 15px 0;
    }
  }

  &__direction-link {
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;

    &::after {
      display: inline-block;
      margin-left: 5px;
      font-size: 10px;
      line-height: 1em;
      vertical-align: top;
      content: attr(data-num);
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__btn {
    margin: 0 10px 10px 0;
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $bg-c--dark;
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
