.s-article-card {

  &__media {
    --aspect-ratio: 1;
    position: relative;
    display: block;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
    margin-bottom: 20px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: var(--aspect-ratio);

      img {
        position: relative;
      }
    }
  }

  &__date {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $text-c--muted;

    @media (min-width: $screen-xs) {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $font-f--serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3em;

    a {
      color: currentColor;
      text-decoration: none;
    }

    @media (min-width: $screen-xs) {
      font-size: 28px;
      line-height: 1.2em;
    }
  }
}
