mixin article-card(props)

  article.s-article-card
    a.s-article-card__media(href='/')
      img(src=props.media, alt='')
    time.s-article-card__date(datetime='2021-10-05') 01 сенября 2021
    h3.s-article-card__title
      a(href='/')!= props.title
    +btn('Подробнее', '/', 'ghost, small')