mixin slider-nav()

  .s-slider-nav&attributes(attributes)
    button.s-slider-nav__btn.s-slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 10', width='12', height='10')
        path(fill-rule='evenodd', d='M10.1923 4.68291L6.74877 1.30208l.66776-.655596L12 5.14648l-4.58347 4.5-.66776-.65559 3.44353-3.38083H0v-.92715h10.1923z', clip-rule='evenodd')
    button.s-slider-nav__btn.s-slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 12 10', width='12', height='10')
        path(fill-rule='evenodd', d='M10.1923 4.68291L6.74877 1.30208l.66776-.655596L12 5.14648l-4.58347 4.5-.66776-.65559 3.44353-3.38083H0v-.92715h10.1923z', clip-rule='evenodd')