mixin tour-card(props)

  .s-tour-card
    .s-tour-card__media
      img(src=props.media, alt='')
    .s-tour-card__info
      h3.s-tour-card__title!= props.title
      .s-tour-card__desc
        p!= props.desc
      .s-tour-card__actions
        +btn('Подробнее', '/', 'small').s-tour-card__btn
        +btn('Персональный тур', '/', 'small, ghost').s-tour-card__btn