.s-tour-card {

  @media (min-width: $screen-sm) {
    display: grid;
    gap: 0 30px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto;
  }

  &__media {
    --aspect-ratio: 16/9;
    position: relative;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 45px;
    }

    @media (min-width: $screen-sm) {
      --aspect-ratio: 16/6;
      grid-column: 1 / span 12;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      aspect-ratio: var(--aspect-ratio);
      padding-top: initial;

      img {
        position: relative;
      }
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      grid-column: 7 / span 5;
    }
  }

  &__title {
    max-width: 35ch;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-f--serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;

    @media (min-width: $screen-xs) {
      margin-left: -0.025em;
      font-size: 39px;
      line-height: 1.1em;
      letter-spacing: -0.01em;
    }
  }

  &__desc {
    max-width: 60ch;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.4em;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__btn {
    margin: 0 10px 10px 0;
  }
}
