.s-who-we-are {
  @include s-basics;

  &__container {
    @include container;
    display: grid;
    gap: 30px;
    grid-template: 'media' 'info' / 1fr;

    @media (min-width: $screen-md) {
      gap: 30px;
      grid-template: 'info media' / 1fr 1fr;
    }

    @media (min-width: $screen-lg) {
      gap: 30px;
      grid-template: 'info . media' / 5fr 1fr 6fr;
    }
  }

  &__info {
    grid-area: info;
    align-self: center;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 15px;

    @media (min-width: $screen-xs) {
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 60ch;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.5em;

    @media (min-width: $screen-xs) {
      margin-bottom: 45px;
    }
  }

  &__media {
    --aspect-ratio: 4/3;
    position: relative;
    grid-area: media;
    width: 100%;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: var(--aspect-ratio);

      img {
        position: relative;
      }
    }

    @media (min-width: $screen-md) {
      --aspect-ratio: 1;
    }
  }
}
