.s-breadcrumbs {
  padding: 5px 20px;
  border-bottom: 1px solid $border-c;

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  @media (min-width: $screen-xs) {
    padding: 5px 45px;
  }

  &__container {
    @include container;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;

    &:not(:last-child) {
      margin-right: 10px;

      &::after {
        margin-left: 10px;
        color: $text-c--muted;
        content: '/';
      }
    }

    a {
      display: block;
      color: $text-c--muted;
      text-decoration: none;
      transition: 0.125s $transition-t;

      &:hover,
      &:focus {
        color: $text-c;
      }
    }

    span {
      display: block;
    }
  }
}
