mixin breadcrumbs()

  .s-breadcrumbs&attributes(attributes)
    .s-breadcrumbs__container
      ul.s-breadcrumbs__list
        block

mixin breadcrumbs-item(text, href)

  li.s-breadcrumbs__item&attributes(attributes)

    if (href)
      a(href=href)!= text

    else
      span!= text