.s-page-header {
  --border-c: #d3d8de;
  --background-c: #fff;
  --c: #2b333b;
  --link-c: #db5d23;
  color: var(--c);
  background-color: var(--background-c);
  border-bottom: 1px solid var(--border-c);

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__logo-wrap {
    position: relative;
    padding: 8px 20px;

    @media (min-width: $screen-xs) {
      padding: 21px 45px;
    }

    @media (min-width: $screen-sm) {

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 20px;
        content: '';
        background-color: var(--border-c);
      }
    }
  }

  &__nav {

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;

      @media (max-width: ($screen-sm - 1px)) {
        justify-content: space-between;
        width: 100%;
      }
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.45em;
    }

    a {
      display: block;
      padding: 10px 20px;
      color: currentColor;
      text-decoration: none;

      @media (min-width: $screen-xs) {
        padding: 10px 45px;
      }

      @media (min-width: $screen-sm) {
        position: relative;
        padding: 25px 15px;

        &::after {
          position: absolute;
          top: 100%;
          right: 0;
          left: 0;
          height: 1px;
          content: '';
          background-color: var(--link-c);
          opacity: 0;
          transition: 0.125s $transition-t;
        }

        &:hover,
        &:focus {
          position: relative;
          color: var(--link-c);

          &::after {
            opacity: 1;
          }
        }
      }
    }

    &--main {
      display: flex;
      flex: 1 0 0%;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      font-weight: 500;

      @media (max-width: ($screen-sm - 1px)) {
        flex: 0 0 auto;
        order: 3;
        border-top: 1px solid var(--border-c);
      }
    }

    &--second {
      position: relative;
      padding: 0 30px;

      @media (max-width: ($screen-lg - 1px)) {
        display: none;
      }

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 20px;
        content: '';
        background-color: var(--border-c);
      }
    }
  }

  &__get-in-touch {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;
    color: currentColor;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    transition: all 0.25s $transition-t;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1px;
      height: 20px;
      content: '';
      background-color: var(--border-c);
    }

    span {
      position: relative;
      z-index: 2;
    }

    @media (max-width: ($screen-sm - 1px)) {
      order: 2;
      margin-left: auto;
    }

    @media (min-width: $screen-xs) {
      padding: 25px 45px;
    }

    @media (min-width: $screen-sm) {

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $accent-c;
        transition: transform 1.25s $transition-t--faster;
        transform: scaleY(0);
        transform-origin: center top;
      }

      &:hover,
      &:focus {
        color: #fff;

        &::after {
          transform: scaleY(1);
          transform-origin: center bottom;
        }
      }
    }
  }

  &--transparent {
    --border-c: rgba(255, 255, 255, 0.25);
    --background-c: transparent;
    --c: #fff;
    --link-c: #fff;
  }
}
