mixin page-header(mods)

  -
    let allMods = '';
    if (mods) {
      let modsList = mods.split(',');
      for (let mod of modsList) {
        allMods += ' s-page-header--' + mod.trim();
      }
    }

  header.s-page-header(class=allMods)&attributes(attributes)
    .s-page-header__container

      .s-page-header__logo-wrap
        +logo().s-page-header__logo

      .s-page-header__nav.s-page-header__nav--main
        ul
          li: a(href='/') Яхты
          li: a(href='/') Теплоходы
          li: a(href='/') Туры

      .s-page-header__nav.s-page-header__nav--second
        ul
          li: a(href='/') О нас
          li: a(href='/') Проекты
          li: a(href='/') Новости
          li: a(href='/') Партнеры
          li: a(href='/') Контакты

      button.s-page-header__get-in-touch(type='button')
        span Обратная связь