.s-featured-news {
  @include s-basics;
  overflow: hidden;

  &__container {
    @include container;

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 0 30px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: auto;
    }
  }

  &__intro {

    @media (min-width: $screen-lg) {
      grid-column: 1 / span 4;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0;
  }

  &__control {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media (min-width: $screen-lg) {
      grid-column: 5 / span 8;
    }
  }

  &__more-articles,
  &__slider-nav {

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__slider-wrapper {
    margin-top: 20px;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      grid-column: 1 / span 12;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: auto;
      gap: 30px;
    }
  }

  &__slider {
    width: 100%;

    @media (min-width: $screen-lg) {
      grid-column: 5 / span 8;
    }
  }

  &__slider-progressbar {
    margin-top: 30px;

    @media (min-width: $screen-xs) {
      margin-top: 60px;
    }

    @media (min-width: $screen-lg) {
      grid-column: 5 / span 8;
    }
  }
}
