.s-gallery {
  @include s-basics;
  overflow: hidden;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include title;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }
  }

  &__slider-nav {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__slider-progressbar {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;

    @media (min-width: $screen-xs) {
      margin-top: 60px;
    }
  }

  &__item {
    --aspect-ratio: 4/3;
    position: relative;
    display: block;
    width: 100%;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);

    &--vertical {

      @media (min-width: $screen-xl) {
        --aspect-ratio: 3/4;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: var(--aspect-ratio);

      img {
        position: relative;
      }
    }
  }
}
