mixin gallery()

  section.s-gallery
    .s-gallery__container
      h2.s-gallery__title Галерея
      +slider-nav().s-gallery__slider-nav
      .s-gallery__slider
        .swiper-wrapper
          .swiper-slide
            a.s-gallery__item(data-fancybox='gallery', href='https://images.unsplash.com/photo-1601183054392-d956c9315c27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2058&q=80')
              img(src='https://images.unsplash.com/photo-1601183054392-d956c9315c27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2058&q=80', alt='')
          .swiper-slide
            a.s-gallery__item.s-gallery__item--vertical(data-fancybox='gallery', href='https://images.unsplash.com/photo-1550558996-560f3515cafd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80')
              img(src='https://images.unsplash.com/photo-1550558996-560f3515cafd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80', alt='')
          .swiper-slide
            a.s-gallery__item(data-fancybox='gallery', href='https://images.unsplash.com/photo-1598770722761-0cab70ffd2fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')
              img(src='https://images.unsplash.com/photo-1598770722761-0cab70ffd2fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80', alt='')
          .swiper-slide
            a.s-gallery__item(data-fancybox='gallery', href='https://images.unsplash.com/photo-1531141445733-14c2eb7d4c1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80')
              img(src='https://images.unsplash.com/photo-1531141445733-14c2eb7d4c1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80', alt='')
          .swiper-slide
            a.s-gallery__item.s-gallery__item--vertical(data-fancybox='gallery', href='https://images.unsplash.com/photo-1552600337-6f42e4fb2e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=840&q=80')
              img(src='https://images.unsplash.com/photo-1552600337-6f42e4fb2e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=840&q=80', alt='')
          .swiper-slide
            a.s-gallery__item(data-fancybox='gallery', href='https://images.unsplash.com/photo-1593351415075-3bac9f45c877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80')
              img(src='https://images.unsplash.com/photo-1593351415075-3bac9f45c877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1742&q=80', alt='')
      +slider-progressbar().s-gallery__slider-progressbar