.s-btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 9px 20px 11px;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.35em;
  color: $white;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: $primary-c;
  background-image: none;
  border: none;
  border-radius: 100px;
  transition: all 250ms $transition-t;

  &:hover,
  &:focus {
    background-color: darken($primary-c, 10%);
  }

  @media (min-width: $screen-xs) {
    padding: 14px 30px 16px;
  }

  &--accent {
    background-color: $accent-c;

    &:hover,
    &:focus {
      background-color: darken($accent-c, 10%);
    }
  }

  &--light {
    color: $primary-c;
    background-color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: $primary-c;
    }
  }

  &--ghost {
    color: $primary-c;
    background-color: transparent;
    border: 1px solid $primary-c;

    &:hover,
    &:focus {
      background-color: rgba($primary-c, 0.125);
    }
  }

  &--small {

    @media (min-width: $screen-xs) {
      padding: 9px 20px 11px;
    }
  }
}
