mixin btn(text, href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-btn--' + modsList[i].trim();
      }
    }

  if (href)
    a.s-btn(href=href, class=allMods)&attributes(attributes)!=text

  else
    button.s-btn(class=allMods)&attributes(attributes)!= text