.s-yacht-card {
  border-bottom: 1px solid $gray--500;

  &__media {
    height: 230px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    @media (max-width: ($screen-sm - 1px)) {
      background-color: $gray--100;
    }

    @media (min-width: $screen-xs) {
      padding: 30px;
    }
  }

  &__type {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5em;
    color: $text-c--muted;
    text-decoration: none;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2em;

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__spec-list {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
  }

  &__spec-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    svg {
      display: block;
      margin-right: 10px;
      fill: currentColor;
      fill-rule: evenodd;
    }
  }

  &__price {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.45em;
    border-top: 1px solid $border-c;

    span {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.01em;
    }
  }
}
