mixin yacht-card(props)

  article.s-yacht-card
    .s-yacht-card__media
      img(src=props.media, alt='')
    .s-yacht-card__info
      a.s-yacht-card__type(href='/')!= props.type
      h3.s-yacht-card__title
        a(href='/')!= props.title
      ul.s-yacht-card__spec-list
        li.s-yacht-card__spec-item
          +svg-icon('location', 15, 15)
          span!= props.spec.location
        li.s-yacht-card__spec-item
          +svg-icon('capacity', 15, 15)
          span!= props.spec.capacity
      .s-yacht-card__price
        | от &#x20;
        span!= props.price
        |  руб./час
      +btn('Подробнее', '/', 'small')