.s-featured-projects {
  @include s-basics;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 15px 30px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 30px;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }
}
