.s-catalog {
  @include s-basics;

  &__container {
    @include container;
  }

  &__header {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__title {
    @include title;
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }

    @media (min-width: $screen-sm) {
      gap: 45px 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    @media (min-width: $screen-md) {
      gap: 60px 30px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }
}
