extends ../pug/layout.pug

block meta
  - var title = 'Catalog'
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/')
    +breadcrumbs-item('Яхты')

  section.s-catalog
    .s-catalog__container
      .s-catalog__header
        h1.s-catalog__title Яхты
        +filter().s-featured-yachts__filter
      ul.s-catalog__list
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1562281302-809108fd533c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Aquador 32 C',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '3 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1621277224630-81d9af65e40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Azimut 50',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '7 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1603296077627-6f49f13e0b5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Sunseeker 74',
            spec: {
              location: 'Крым',
              capacity: '5 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1620848980271-c540249f1031?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=726&q=80',
            type: 'Яхта',
            title: 'Dominator 68',
            spec: {
              location: 'Москва',
              capacity: '12 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1562281302-809108fd533c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Aquador 32 C',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '3 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1621277224630-81d9af65e40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Azimut 50',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '7 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1603296077627-6f49f13e0b5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Sunseeker 74',
            spec: {
              location: 'Крым',
              capacity: '5 чел.'
            },
            price: '30 000'
          })
        li.s-catalog__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1620848980271-c540249f1031?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=726&q=80',
            type: 'Яхта',
            title: 'Dominator 68',
            spec: {
              location: 'Москва',
              capacity: '12 чел.'
            },
            price: '30 000'
          })