extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header

block content
  .s-hero
    +page-header('transparent').s-hero__header

    section.s-promo.s-hero__promo
      .s-promo__info
        .s-promo__container
          h1.s-promo__title Аренда комфортабельных яхт
          ul.s-promo__directions
            li.s-promo__direction
              a.s-promo__direction-link(data-num='28', href='/') Все
            li.s-promo__direction
              a.s-promo__direction-link(data-num='9', href='/') Санкт-Петербург
            li.s-promo__direction
              a.s-promo__direction-link(data-num='11', href='/') Москва
            li.s-promo__direction
              a.s-promo__direction-link(data-num='3', href='/') Турция
            li.s-promo__direction
              a.s-promo__direction-link(data-num='5', href='/') Крым
          .s-promo__actions
            +btn('Арендовать яхту', '/', 'accent').s-promo__btn
            +btn('Стать инвестором', '/', 'light').s-promo__btn
      .s-promo__media
        img(src='img/hero.jpg', alt='')



  section.s-featured-yachts
    .s-featured-yachts__container
      .s-featured-yachts__header
        span.s-featured-yachts__subtitle Аренда
        h2.s-featured-yachts__title Флот
        //- +filter()
      ul.s-featured-yachts__list
        li.s-featured-yachts__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1562281302-809108fd533c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Aquador 32 C',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '3 чел.'
            },
            price: '30 000'
          })
        li.s-featured-yachts__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1621277224630-81d9af65e40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Azimut 50',
            spec: {
              location: 'Санкт-Петербург',
              capacity: '7 чел.'
            },
            price: '30 000'
          })
        li.s-featured-yachts__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1603296077627-6f49f13e0b5a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80',
            type: 'Яхта',
            title: 'Sunseeker 74',
            spec: {
              location: 'Крым',
              capacity: '5 чел.'
            },
            price: '30 000'
          })
        li.s-featured-yachts__item
          +yacht-card({
            media: 'https://images.unsplash.com/photo-1620848980271-c540249f1031?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=726&q=80',
            type: 'Яхта',
            title: 'Dominator 68',
            spec: {
              location: 'Москва',
              capacity: '12 чел.'
            },
            price: '30 000'
          })



  section.s-who-we-are
    .s-who-we-are__container
      .s-who-we-are__info
        span.s-who-we-are__subtitle Кто мы
        h2.s-who-we-are__title О нас
        .s-who-we-are__text
          p Компания обладает коллекцией шикарных яхт в Санкт-Петербурге и славится своим качественным сервисом среди тысячи довольных клиентов.
          p Широкий ассортимент позволяет подобрать судно под любое мероприятие, а опытная команда заботится о комфортном и безопасном отдыхе наших гостей.
        +btn('Подробнее', '/')
      .s-who-we-are__media
        img(src='https://images.unsplash.com/photo-1600268369504-9a7f0053fa55?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1674&q=80', alt='')



  section.s-featured-tours
    .s-featured-tours__container
      .s-featured-tours__intro
        span.s-featured-tours__subtitle Организовываем
        h2.s-featured-tours__title Туры
      +slider-nav().s-featured-tours__slider-nav
      .s-featured-tours__slider
        .swiper-wrapper.s-featured-tours__slider-wrapper
          .swiper-slide
            +tour-card({
              media: 'img/tour-1.jpg',
              title: 'Кронштадт',
              desc: 'Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.'
            })
          .swiper-slide
            +tour-card({
              media: 'https://images.unsplash.com/photo-1598737285721-29346a5c9278?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2759&q=80',
              title: 'Питон',
              desc: 'Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.'
            })
          .swiper-slide
            +tour-card({
              media: 'https://images.unsplash.com/photo-1598695643539-f47d01094dee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3015&q=80',
              title: 'Портофино',
              desc: 'Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.'
            })
        .s-featured-tours__slider-control-wrap
          .s-featured-tours__slider-control-inner
            +slider-progressbar().s-featured-tours__slider-progressbar
            .s-featured-tours__slider-fraction



  section.s-featured-news
    .s-featured-news__container
      .s-featured-news__intro
        span.s-featured-news__subtitle Информация
        h2.s-featured-news__title Новости
      .s-featured-news__control
        +accent-link('Все новости', '/').s-featured-news__more-articles
        +slider-nav().s-featured-news__slider-nav
      .s-featured-news__slider-wrapper
        .s-featured-news__slider
          .swiper-wrapper
            .swiper-slide
              +article-card({
                media: 'https://images.unsplash.com/photo-1622567846263-862299c39f99?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80',
                title: 'Аэрофотосъёмка ландшафта уже выявила земли богачей'
              })
            .swiper-slide
              +article-card({
                media: 'https://images.unsplash.com/photo-1527588574470-7152d7c3c15e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=928&q=80',
                title: 'Шифровальщица попросту забыла ряд ключевых множителей и тэгов'
              })
            .swiper-slide
              +article-card({
                media: 'https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80',
                title: 'Съешь ещё этих мягких французских булок'
              })
            .swiper-slide
              +article-card({
                media: 'https://images.unsplash.com/photo-1533293046890-f1ab3e5e3af9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80',
                title: 'Аэрофотосъёмка ландшафта уже выявила земли богачей'
              })
            .swiper-slide
              +article-card({
                media: 'https://images.unsplash.com/photo-1564966591229-aa2969321c8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=652&q=80',
                title: 'Шифровальщица попросту забыла ряд ключевых множителей и тэгов'
              })
      +slider-progressbar().s-featured-news__slider-progressbar



  section.s-featured-projects
    .s-featured-projects__container
      span.s-featured-projects__subtitle Курируем
      h2.s-featured-projects__title Проекты
      ul.s-featured-projects__list
        li.s-featured-projects__item
          +project-card({
            title: 'Школа<br> стюардес',
            desc: 'Подготовка и подбор экипажа на частные яхты.',
            media: 'https://images.unsplash.com/photo-1552600337-6f42e4fb2e78?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=720&q=80'
          })
        li.s-featured-projects__item
          +project-card({
            title: 'Доверительное<br> управление<br> яхт',
            desc: 'Ваша яхта в наших руках.',
            media: 'https://images.unsplash.com/photo-1559385301-0187cb6eff46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'
          })
        li.s-featured-projects__item
          +project-card({
            title: 'Yacht<br> & Travel<br> Fund',
            desc: 'Закрытый паевой инвестиционный фонд.',
            media: 'https://images.unsplash.com/photo-1521109464564-2fa2faa95858?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=764&q=80'
          })
        li.s-featured-projects__item
          +project-card({
            title: 'Рефит<br> яхт',
            desc: 'Вернем судну первоначальный облик.',
            media: 'https://images.unsplash.com/photo-1616207133639-cd5e4db9859f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80'
          })



  section.s-featured-partners
    .s-featured-partners__container
      span.s-featured-partners__subtitle Постоянные
      h2.s-featured-partners__title Партнеры
      +slider-nav().s-featured-partners__slider-nav
      .s-featured-partners__slider
        .swiper-wrapper
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-1.png',
              badge: {
                country: 'us'
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-2.png',
              badge: {
                country: 'germany'
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-3.png',
              badge: {
                country: 'italy',
                official: true
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-4.png',
              badge: {
                country: 'germany'
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-1.png',
              badge: {
                country: 'us'
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-2.png',
              badge: {
                country: 'germany'
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-3.png',
              badge: {
                country: 'italy',
                official: true
              }
            })
          .swiper-slide
            +partner-card({
              title: 'Title',
              desc: 'Description',
              icon: 'img/partner-4.png',
              badge: {
                country: 'germany'
              }
            })
      +slider-progressbar().s-featured-partners__slider-progressbar