extends ../pug/layout.pug

block meta
  - var title = 'Tour';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/')
    +breadcrumbs-item('Туры', '/')
    +breadcrumbs-item('Кронштадт')

  section.s-tour

    .s-tour__hero
      .s-tour__promo
        .s-tour__container
          h1.s-tour__title Кронштадт
          .s-tour__labels
            +label('Кроншлот').s-tour__label
            +label('Император Александр I').s-tour__label
            +label('Император Петр I').s-tour__label
            +label('Император Павел I').s-tour__label
            +label('Великий князь Константин').s-tour__label
            +label('Милютин').s-tour__label
          .s-tour__hero-footer
            +btn('Забронировать', '/', 'accent').s-tour__order
            .s-tour__price
              | от &#x20;
              span 150 000
      .s-tour__media
        img(src='img/tour-1.jpg', alt='')

    .s-tour__info
      .s-tour__container
        .s-tour__info-layout
          .s-tour__spec
            ul.s-tour__spec-list
              li.s-tour__spec-item
                h2.s-tour__subtitle
                  span Остановки
                +label('Санкт-Петербург')
                +label('Кронштадт')
                +label('Санкт-Петербург')
              li.s-tour__spec-item
                h2.s-tour__subtitle
                  span Размещение
                +label('до 10 чел.', 'capacity')
          .s-tour__include.s-tour__include--free
            h2.s-tour__subtitle
              span Включено в стоимость
            ul.s-tour__include-list
              li.s-tour__include-item Аренда яхты на указанное время.
              li.s-tour__include-item Услуги команды: капитан, матрос, стюардесса.
              li.s-tour__include-item Топливный сбор, оплата причала.
          .s-tour__include.s-tour__include--add
            h2.s-tour__subtitle
              span Дополнительно оплачивается
            ul.s-tour__include-list
              li.s-tour__include-item Питание, закупка продуктов.
              li.s-tour__include-item Обслуживание личным шеф-поваром.
              li.s-tour__include-item Индивидуальные экскурсии и трансфер.
              li.s-tour__include-item Личные расходы и чаевые.
              li.s-tour__include-item Дополнительные маршруты и услуги, не включенные в программу.
          .s-tour__full-desc
            .s-tour__intro
              h2.s-tour__subtitle.s-tour__subtitle--accent
                span Описание
            .s-tour__text
              p
                b Приглашаем вас посетить живописный морской город Кронштадт!
              p Этот небольшой город является самым удаленным и необычным из пригородов Санкт-Петербурга. Расположенный на острове Котлин в Финском заливе, он на протяжении всей своей истории служил морским щитом Санкт-Петербурга. Экскурсия знакомит с городом-крепостью Кронштадт, с его историей, полной подвигов и жестоких трагедий, связанных с Российским Флотом, революционными и военными событиями. Исторический центр Кронштадта входит в список Всемирного наследия ЮНЕСКО. Кронштадту присвоено звание «Город воинской славы».
              p Вас ждет увлекательная обзорная экскурсия по городу. Экскурсовод познакомит вас с крепостью Кронштадт, вы увидите дамбу, соединяющую остров Котлин с материком, гавань порта с кораблями ВМФ, пристани, Петровские доки, обводный канал, пушки времен Екатерины II, Итальянский дворец.
              p Одной из главных остановок в нашей экскурсии станет Якорная площадь, где мы посетим грандиозный Морской собор святи́теля Никола́я Чудотво́рца – самый крупный из морских соборов Российской империи! Главная святыня Российского флота Морской собор возвышается над островом и морем и после реставрации вновь несет свое уникальное предназначение – служить Собором морской славы России, собирать флотские реликвии, хранить память о моряках-героях. На памятных досках внутри Собора нанесено около тысячи имен флотских офицеров, погибших с 1695 по 1918 гг. в морских сражениях. После экскурсии и внешнего осмотра, у вас будет свободное время (около 20 мин.), чтобы зайти в Собор и ознакомиться с его удивительным внутренним убранством.
              p Вы увидите  фарватер "Морские ворота Санкт-Петербурга", через которые проходят все корабли, заходящие в Санкт-Петербург и полюбуетесь прекрасными видами на Финский залив и великолепный Морской собор!

  +gallery()
