extends ../pug/layout.pug

block meta
  - var title = 'Yacht';
  title= title
  meta(name='description', content='')

block content
  +breadcrumbs()
    +breadcrumbs-item('Главная', '/')
    +breadcrumbs-item('Яхты', '/')
    +breadcrumbs-item('Azimut 50')

  section.s-yacht
    .s-yacht__container
      .s-yacht__media
        img(src='https://images.unsplash.com/photo-1562281302-809108fd533c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80', alt='')
      .s-yacht__info
        .s-yacht__location-wrap
          +label('Санкт-Петербург')
        h1.s-yacht__title Azimut 50
        .s-yacht__data
          .s-yacht__prices
            h2.s-yacht__subtitle
              span Стоимость
            .s-yacht__price.s-yacht__price--per-hour
              span 25 000
              |  ₽/час
            .s-yacht__price.s-yacht__price--per-day
              span 250 000
              |  ₽/сутки
          ul.s-yacht__spec-list
            li.s-yacht__spec
              h2.s-yacht__subtitle
                span Размещение
              +label('Кол-во гостей: 10', 'capacity')
              +label('Кол-во кают: 3', 'cabins')
            li.s-yacht__spec
              h2.s-yacht__subtitle
                span Размеры
              +label('Длина: 16,08 м', 'length')
              +label('Ширина: 4,69 м', 'width')
            li.s-yacht__spec
              h2.s-yacht__subtitle
                span Дополнительно
              +label('Караоке')
        .s-yacht__actions
          +btn('Забронировать', '/', 'accent')
      .s-yacht__full-desc
        .s-yacht__intro
          h2.s-yacht__subtitle.s-yacht__subtitle--accent
            span Описание
        .s-yacht__text
          p Это великолепная моторная яхта VIP-класса с просторным флайбриджем, обладает элегантным классическим дизайном, обогащенным современными линиями и новейшими технологиями. Эта яхта создана для тех, кто ценит роскошь, скорость и свободу. Вы можете арендовать яхту как для прогулок по Черному морю, так и для организации любого мероприятия высокого уровня. На борт может принять до 12 человек на дневную прогулку и до 6 человек с ночевкой. Для гостей три уютные каюты, просторная комфортная кают-компания с обеденной зоной и оборудованной кухней.
        .s-yacht__quote
          p На флайбридже можно отдохнуть на диване или позагорать

  +gallery()