mixin accent-link(text, href)

  a.s-accent-link(href=href)&attributes(attributes)
    span!= text
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 10', width='10', height='10')
      path(stroke-linecap='round', stroke-linejoin='round', d='M3 1h6m0 0L1 9m8-8v6')