.s-accent-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45em;
  color: currentColor;
  text-decoration: none;
  outline: none;

  &::before {
    position: absolute;
    top: -0.25em;
    right: -0.25em;
    bottom: -0.25em;
    left: -0.25em;
    content: '';
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: $primary-c;
    transition: transform 0.5s $transition-t;
    transform: scaleX(1);
    transform-origin: center left;
  }

  svg {
    display: block;
    margin-left: 10px;
    transition: transform 0.5s $transition-t;
    transform: translate3d(0, 0, 0);
    transform-origin: center;
    stroke: currentColor;
  }

  &:hover,
  &:focus {
    color: currentColor;
    text-decoration: none;

    &::after {
      transform: scaleX(0);
      transform-origin: center right;
    }

    svg {
      transform: translate3d(0.125rem, -0.125rem, 0);
    }
  }
}
