.s-logo {
  display: flex;
  color: currentColor;
  text-decoration: none;

  &__icon {
    display: block;

    @media (max-width: ($screen-sm - 1px)) {
      width: auto;
      height: 22px;
    }
  }

  &__text {
    fill: currentColor;
  }

  &__outer-shape {
    fill: currentColor;
  }
}
