mixin logo(mods)

  -
    let allMods = '';
    if (mods) {
      let modsList = mods.split(',');
      for (let mod of modsList) {
        allMods += ' s-logo--' + mod.trim();
      }
    }

  a.s-logo(href='index.html', class=allMods)&attributes(attributes)
    svg.s-logo__icon(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 160 28', width='160', height='28')
      path.s-logo__text(d='M49.3658 20.8932H46.2237C45.7821 19.2729 45.1455 17.7121 44.3281 16.245 44.07 15.9411 43.7426 15.7039 43.3734 15.5532 43.0043 15.4025 42.6044 15.3429 42.2074 15.3794H41.0215C41.0215 17.1972 41.0533 19.0351 41.1167 20.8932H38.1651C38.2632 18.7581 38.3093 16.346 38.3035 13.6569 38.3035 11.0774 38.2574 8.87592 38.1651 7.0524H41.3331C42.0169 7.0524 42.6402 7.0524 43.2115 7.0524 46.4661 7.0524 48.0934 8.16613 48.0934 10.3936 48.0934 12.1248 47.1586 13.3799 45.3062 14.081V14.2195C46.1283 14.5066 46.8035 15.1071 47.1845 15.8901 48.0312 17.5031 48.7602 19.1752 49.3658 20.8932ZM45.3841 11.112C45.3841 9.70978 44.5185 8.99999 42.6575 8.99999 42.0771 8.99618 41.4977 9.04543 40.9263 9.14714 41.0042 10.2464 41.0388 11.6747 41.0388 13.4751H42.0256C44.2242 13.4664 45.3841 12.6788 45.3841 11.112ZM60.255 18.5475 60.1684 20.8846H51.149C51.2355 18.7466 51.2875 16.3316 51.2875 13.6482 51.2875 10.9649 51.2355 8.87014 51.149 7.04374H59.8049L59.6837 9.37219C57.5601 9.26255 55.6327 9.20772 53.9015 9.20772 53.9708 10.1858 54.0054 11.3544 54.0054 12.6701 55.4942 12.6701 57.0696 12.6701 58.7575 12.5576V14.7735C57.1071 14.7042 55.5231 14.6696 54.0054 14.6696 54.0054 16.1065 54.0054 17.4568 54.092 18.7119 56.0136 18.7293 58.0679 18.6744 60.255 18.5475ZM73.7842 20.8932H70.3219C70.3219 20.5643 69.7159 19.439 68.5214 17.5261 67.2519 15.4775 66.3488 14.4532 65.8121 14.4532H65.4918C65.4918 16.0719 65.5351 18.2099 65.613 20.8932H62.6094C62.696 18.7552 62.7479 16.3402 62.7479 13.6569 62.7479 10.9735 62.696 8.8788 62.6094 7.0524H65.6044C65.5236 9.02019 65.4832 10.8639 65.4832 12.5835H65.7169C66.0285 12.5835 66.8162 11.718 68.08 9.98676 68.8223 9.10303 69.4398 8.1215 69.915 7.06971H73.0831C73.0831 7.30631 72.4339 8.18922 71.1355 9.71843 70.2715 10.8274 69.2906 11.8402 68.2098 12.7394V12.8952C68.9282 13.276 70.0622 14.6263 71.6202 17.0933 73.0687 19.3323 73.79 20.5989 73.7842 20.8932ZM78.4411 20.8932H75.4289C75.5241 18.6946 75.5673 16.2883 75.5673 13.6569 75.5673 11.0255 75.5241 8.87015 75.4289 7.0524H78.4411C78.3488 8.84707 78.3026 11.0486 78.3026 13.6569 78.3026 16.2652 78.3488 18.6773 78.4411 20.8932ZM84.5349 19.0409C84.5541 19.5435 84.3772 20.0339 84.0415 20.4086 83.8519 20.6077 83.6215 20.7634 83.3659 20.8651 83.1104 20.9667 82.8359 21.0117 82.5614 20.9972 82.3298 21.0113 82.0981 20.9727 81.8837 20.8842 81.6693 20.7957 81.4778 20.6597 81.3236 20.4865 81.0206 20.1536 80.8591 19.7158 80.8735 19.266 80.8682 18.7654 81.0611 18.2831 81.4101 17.9243 81.6039 17.7294 81.8368 17.5778 82.0934 17.4793 82.35 17.3808 82.6245 17.3378 82.8989 17.353 83.1302 17.3385 83.3618 17.3752 83.5773 17.4605 83.7927 17.5458 83.9867 17.6775 84.1454 17.8464 84.4202 18.1817 84.5592 18.608 84.5349 19.0409ZM96.2984 7.05193 96.2464 8.55806C94.8441 8.48016 93.3986 8.44554 91.9184 8.44554 91.9184 9.80452 91.9184 11.5357 91.9184 13.6391 91.9184 15.9474 91.9531 18.371 92.0223 20.9101H90.0401C90.1267 18.498 90.1699 16.0743 90.1699 13.6391 90.1699 11.579 90.1497 9.8478 90.1093 8.44554 89.062 8.44554 87.5818 8.44554 85.6862 8.57538L85.7727 7.05193H96.2984ZM109.559 20.8928H107.508C106.821 18.8615 106.325 17.5025 106.019 16.8158 105.758 16.1478 105.283 15.5849 104.669 15.2145 103.982 14.979 103.255 14.8819 102.531 14.9288H100.929C100.929 17.2227 100.929 19.1876 101.05 20.8408H99.0769C99.1808 18.6422 99.2414 16.2186 99.2414 13.5699 99.2414 11.0769 99.1808 8.88699 99.0769 7H101.786C102.28 7 102.834 7 103.465 7 106.576 7 108.128 8.07045 108.122 10.2114 108.152 11.0326 107.915 11.8414 107.447 12.5169 106.979 13.1924 106.305 13.6984 105.526 13.9594V14.0632C105.931 14.1954 106.307 14.4064 106.631 14.6842 106.954 14.962 107.22 15.3011 107.413 15.6819 108.229 17.3754 108.946 19.1153 109.559 20.8928ZM106.305 10.9211C106.305 9.24189 105.162 8.3936 102.842 8.3936 102.156 8.38243 101.47 8.42876 100.791 8.5321 100.791 9.76124 100.86 11.4405 100.86 13.5612H102.081C104.897 13.5727 106.305 12.6927 106.305 10.9211ZM124.093 20.8928H121.851C121.557 19.3593 121.107 17.8598 120.509 16.4177H114.381C113.789 17.8599 113.348 19.3596 113.065 20.8928H110.918C111.715 18.5821 112.631 16.3141 113.662 14.0979 115.486 9.83337 116.397 7.48473 116.397 7.05193H118.864C118.864 7.47319 119.73 9.78144 121.461 13.9767 123.192 18.1719 124.069 20.4773 124.093 20.8928ZM120.024 15.0241C118.362 10.8692 117.523 8.65328 117.523 8.3936H117.41C117.41 8.61 116.545 10.8259 114.813 15.0241H120.024ZM136.358 7.05193C136.358 7.629 135.464 9.93725 133.675 13.9767 131.886 18.0161 130.991 20.3244 130.991 20.9014H129.615C129.615 20.359 128.77 18.0681 127.079 14.0286 125.388 9.98918 124.543 7.68093 124.543 7.10387H126.56C126.56 7.65785 127.209 9.6314 128.498 13.0072 129.788 16.383 130.429 18.3306 130.429 18.8153H130.533C130.533 18.2614 131.19 16.3398 132.489 13.0332 133.787 9.72661 134.445 7.75306 134.445 7.10387L136.358 7.05193ZM147.645 19.2828 147.585 20.8928H139.015C139.119 18.6942 139.163 16.2705 139.163 13.6218 139.163 11.1289 139.119 8.93893 139.015 7.05193H147.048L146.962 8.63597C145.017 8.55518 142.954 8.51479 140.773 8.51479 140.773 9.61409 140.833 11.1116 140.833 12.9639 142.72 12.9639 144.399 12.9207 145.871 12.8341V14.4181C144.296 14.3575 142.616 14.3229 140.833 14.3229 140.833 16.1407 140.833 17.8545 140.928 19.4472 143.283 19.4242 145.522 19.3693 147.645 19.2828ZM159.348 19.3261 159.288 20.8928H150.926C151.013 19.1616 151.047 16.7206 151.047 13.6218 151.047 10.9558 151.047 8.77446 150.926 7.05193H152.9C152.813 8.48882 152.77 10.6788 152.77 13.6218 152.77 16.0454 152.732 17.9873 152.657 19.4472 154.758 19.4242 156.988 19.3838 159.348 19.3261Z')
      path(fill='#F59B1A', d='M15.0418 13.898C16.8269 13.898 18.274 12.5338 18.274 10.8509C18.274 9.16802 16.8269 7.80377 15.0418 7.80377C13.2567 7.80377 11.8097 9.16802 11.8097 10.8509C11.8097 12.5338 13.2567 13.898 15.0418 13.898Z')
      path(fill='#2466A6', d='M14.1521 19.2955C12.2545 19.2955 10.8136 18.2365 9.42785 17.146C7.90821 15.9649 6.56574 14.5713 4.96737 13.4926C4.40464 13.078 3.79064 12.7379 3.14066 12.4808C2.60525 12.2918 2.06196 11.9336 2.35329 11.2486C2.60525 10.6816 3.14066 10.8549 3.62884 10.9966C5.17593 11.4834 6.62756 12.2332 7.92002 13.213C9.74673 14.528 11.5971 15.898 13.6836 16.7051C14.8332 17.146 16.1796 17.8546 17.5457 17.0515C17.7504 16.9334 18.0338 16.8468 18.2189 17.0869C18.4039 17.3271 18.1598 17.6263 18.0142 17.7995C17.3528 18.6892 15.6087 19.3467 14.1521 19.2955Z')
      path(fill='#4FB1DF', d='M16.0812 16.213C15.8164 16.2157 15.5522 16.1879 15.2938 16.1303C12.9868 15.6146 11.0813 14.4138 9.23888 13.2525L8.17198 12.5832C6.32166 11.4494 4.73903 10.847 3.18791 10.6856H2.87296C2.75024 10.6943 2.62705 10.6775 2.51118 10.6361C2.39531 10.5948 2.28927 10.5299 2.19975 10.4455C2.12028 10.3553 2.06035 10.2496 2.02376 10.1351C1.98717 10.0206 1.97471 9.89972 1.98716 9.78015C2.03441 8.96522 2.87296 8.96522 3.27452 8.96522H3.44774C5.26211 9.11686 7.03305 9.60129 8.67197 10.3943C9.13258 10.5951 9.59319 10.8116 10.0538 11.0281C11.4042 11.6659 12.8096 12.3234 14.2544 12.5753C14.904 12.6946 15.5625 12.7591 16.2229 12.7682C17.295 12.7985 18.3526 12.5153 19.2661 11.9533L19.3488 11.8864C19.52 11.7201 19.7445 11.6197 19.9826 11.6029C20.187 11.6071 20.3829 11.6855 20.5338 11.8234C20.68 11.9441 20.7791 12.1124 20.8137 12.2988C20.8482 12.4853 20.816 12.678 20.7227 12.843C20.7079 12.8774 20.6961 12.913 20.6873 12.9493C20.3763 14.8154 18.0142 16.213 16.0812 16.213Z')
      path(fill='#fff', d='M3.27452 9.3589H3.42018C5.21539 9.44945 6.86494 10.0439 8.49481 10.7565C10.3569 11.5714 12.1718 12.6186 14.1678 12.9611C14.8431 13.0875 15.5281 13.1547 16.215 13.1619C17.3625 13.1919 18.4939 12.8869 19.4708 12.284C19.6086 12.1934 19.7739 11.9887 19.9905 11.9887C20.101 11.9932 20.206 12.0381 20.2857 12.1147C20.6007 12.3864 20.3448 12.6422 20.2857 12.8745C20.0101 14.5359 17.8252 15.8114 16.0615 15.8114C15.831 15.8131 15.6011 15.788 15.3765 15.7366C12.7033 15.1422 10.6168 13.6147 8.36883 12.2368C6.8192 11.2112 5.05975 10.5454 3.2194 10.288H3.14066H2.86508C2.60919 10.288 2.35329 10.2289 2.37297 9.79196C2.37297 9.45732 2.60919 9.35103 3.25483 9.35103L3.27452 9.3589ZM3.25483 8.56365C2.18007 8.56365 1.62103 8.95734 1.5856 9.74471C1.56987 9.91726 1.59047 10.0912 1.64607 10.2553C1.70168 10.4194 1.79105 10.57 1.90842 10.6974C2.03453 10.8202 2.18454 10.9157 2.34911 10.978C2.51368 11.0403 2.68931 11.0681 2.86508 11.0596H3.14066C4.6288 11.2132 6.16024 11.7958 7.95545 12.8981C8.31765 13.1186 8.67196 13.343 9.02628 13.5674C10.8963 14.7485 12.8293 15.965 15.2032 16.4964C15.4853 16.5572 15.773 16.5875 16.0615 16.587C18.1362 16.587 20.6873 15.1225 21.0574 13.0202C21.0574 13.0202 21.0574 12.9848 21.0574 12.969C21.183 12.7283 21.2218 12.4516 21.1673 12.1855C21.1128 11.9195 20.9683 11.6804 20.7582 11.5084C20.5425 11.311 20.263 11.1978 19.9708 11.1895C19.6322 11.2061 19.3115 11.3462 19.0692 11.5832L19.0181 11.6265C18.1698 12.1447 17.1889 12.4046 16.1953 12.3745C15.5533 12.3674 14.9131 12.3042 14.282 12.1856C12.8962 11.9533 11.5892 11.3273 10.1995 10.6817C9.74673 10.4691 9.27824 10.2486 8.80975 10.04C7.28619 9.3589 5.45948 8.68176 3.44774 8.57153H3.25877L3.25483 8.56365Z')
      path(fill='#2466A6', d='M2.47533 12.9217C3.58377 13.6596 4.63644 14.4781 5.62483 15.3704C7.7783 17.1775 9.52627 19.5278 12.6521 20.3821C8.01057 21.4135 2.88477 17.4412 2.47533 12.9217Z')
      path.s-logo__outer-shape(fill-rule='evenodd', d='M19.77 3.30796C17.578 1.16977 14.6317 -0.0186323 11.5696 0.000220941C8.50755 0.0190742 5.57618 1.24367 3.41065 3.40868C1.24512 5.5737 0.019824 8.50477 0.000238438 11.5669C-0.0193471 14.629 1.16835 17.5755 3.30601 19.768L11.538 28L19.77 19.768C21.9445 17.5809 23.1651 14.6221 23.1651 11.538C23.1651 8.45385 21.9445 5.49506 19.77 3.30796ZM12.16 19.7641C11.826 19.7917 11.4902 19.7917 11.1561 19.7641C9.81379 19.7005 8.5074 19.3094 7.35094 18.6249C6.19448 17.9404 5.22307 16.9833 4.52148 15.8372C3.81988 14.691 3.40941 13.3906 3.32587 12.0494C3.24233 10.7081 3.48826 9.36679 4.04221 8.14243C4.05687 8.10462 4.07397 8.0678 4.09339 8.0322C4.09339 7.98496 4.13669 7.93771 4.16031 7.89047C4.7386 6.71774 5.58818 5.69979 6.63857 4.92108C7.68896 4.14236 8.90989 3.62533 10.2001 3.41286C11.4903 3.2004 12.8125 3.29863 14.0571 3.6994C15.3018 4.10018 16.4329 4.79195 17.3567 5.71732C17.7262 6.08671 18.0585 6.49153 18.3488 6.92594C18.3706 6.94773 18.3903 6.97145 18.4078 6.9968C18.4984 7.13459 18.585 7.27238 18.6637 7.41017C18.7425 7.54796 18.774 7.59914 18.8291 7.69757L18.9118 7.86291C19.5216 9.07096 19.824 10.4108 19.7923 11.7636C19.7605 13.1165 19.3956 14.4406 18.7299 15.6188C18.0641 16.7969 17.118 17.7926 15.9755 18.5178C14.8329 19.2429 13.5292 19.675 12.1797 19.7759L12.16 19.7641Z', clip-rule='evenodd')
