.s-page-footer {
  padding: 45px 20px 20px;
  color: $white;
  background-color: $bg-c--dark;

  @media (min-width: $screen-xs) {
    padding: 60px 45px;
  }

  &__container {
    @include container;
    display: grid;
    grid-template:
      'logo'
      'actions'
      'services'
      'about'
      'contacts'
      'socials'
      'copyright'
      / 1fr;
    gap: 45px 30px;

    @media (min-width: $screen-xs) {
      grid-template:
        'logo logo'
        'actions actions'
        'services about'
        'contacts contacts'
        'socials socials'
        'copyright copyright' / 1fr 1fr;
      gap: 45px 20px;
    }

    @media (min-width: $screen-sm) {
      grid-template:
        'logo services about actions'
        'socials contacts contacts copyright' / 2fr 1fr 1fr 2fr;
      gap: 120px 20px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'logo logo logo services about actions'
        'socials socials socials contacts contacts copyright' / 2fr 2fr 2fr 2fr 2fr 2fr;
      gap: 180px 30px;
    }
  }

  &__logo-wrap {
    grid-area: logo;
  }

  &__nav-section {

    &--services {
      grid-area: services;
    }

    &--about {
      grid-area: about;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $gray--500;

    @media (min-width: $screen-xs) {
      margin-bottom: 30px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.45em;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      transition: 0.25s $transition-t;

      &:hover,
      &:focus {
        color: $accent-c;
      }
    }
  }

  &__actions {
    grid-area: actions;
    align-self: start;

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__socials {
    grid-area: socials;
  }

  &__socials-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__social {
    padding: 0;
    margin: 0 15px 0 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: currentColor;
      border: 1px solid rgba(#fff, 0.125);
      border-radius: 50px;
      transition: 0.25s $transition-t;

      &:hover,
      &:focus {
        border-color: $accent-c;
      }
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__contacts {
    position: relative;
    grid-area: contacts;

    &::before {
      position: absolute;
      bottom: calc(100% + 30px);
      left: 0;
      width: 45px;
      height: 1px;
      content: '';
      background-color: $accent-c;
    }

    @media (max-width: ($screen-sm - 1px)) {
      margin-top: 30px;
    }
  }

  &__copyright {
    grid-area: copyright;
    align-self: end;
    font-size: 12px;
    line-height: 1.5em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
  }
}
