.s-featured-partners {
  @include s-basics;
  overflow: hidden;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__subtitle {
    @include subtitle;
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  &__title {
    @include title;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  &__slider {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;

    @media (min-width: $screen-xs) {
      margin-top: 45px;
    }
  }

  &__slider-nav {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__slider-progressbar {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;

    @media (min-width: $screen-xs) {
      margin-top: 60px;
    }
  }
}
