.s-partner-card {
  padding: 20px;
  border: 1px solid $border-c;

  @media (min-width: $screen-xs) {
    padding: 30px;
  }

  &__badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
  }

  &__badge {
    margin: 0 5px 5px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1em;

    img {
      display: block;
    }

    &--official {
      box-sizing: border-box;
      padding: 2px 6px;
      background-color: $gray--100;
      border-radius: 3px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__footer {
    padding-top: 30px;
    border-top: 1px solid $border-c;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4em;
  }

  &__desc {
    font-size: 14px;
    line-height: 1.45em;
    color: $text-c--muted;
  }
}
