mixin partner-card(props)

  article.s-partner-card
    .s-partner-card__badges
      .s-partner-card__badge
        img(src='img/' + props.badge.country + '.svg', alt='', width='22', height='16')

      if props.badge.official
        .s-partner-card__badge.s-partner-card__badge--official Оф. партнер

    .s-partner-card__icon
      img(src=props.icon, alt='')
    footer.s-partner-card__footer
      h3.s-partner-card__title!= props.title
      .s-partner-card__desc
        p!= props.desc