.s-label {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  margin: 0 5px 5px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45em;
  vertical-align: middle;
  background-color: $gray--100;
  border-radius: 50px;

  svg {
    display: block;
    margin-right: 10px;
    fill: currentColor;
    fill-rule: evenodd;
  }
}
