mixin label(text, icon, mods)

  -
    let allMods = '';
    if (mods) {
      let modsList = mods.split(',');
      for (let mod of modsList) {
        allMods += ' s-label--' + mod.trim();
      }
    }

  span.s-label(class=allMods)&attributes(attributes)

    if icon
      +svg-icon(icon, 15, 15)

    | #{text}