.s-yacht {

  @media (min-width: $screen-xs) {
    padding: 45px;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 60px 30px;
      grid-template:
        'info media'
        'full-desc full-desc'
        / 1fr 1fr;
    }
  }

  &__media {
    --aspect-ratio: 4/3;
    position: relative;
    grid-area: media;
    width: 100%;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
    margin-bottom: 30px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: var(--aspect-ratio);

      img {
        position: relative;
      }
    }

    @media (min-width: $screen-md) {
      --aspect-ratio: 16/9;
    }

    @media (min-width: $screen-md) {
      --aspect-ratio: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;

    @media (min-width: $screen-xs) {
      padding: 0 0 30px;
      border-top: 1px solid $border-c;
      border-bottom: 1px solid $border-c;
    }

    @media (min-width: $screen-sm) {
      grid-area: info;
    }
  }

  &__location-wrap {
    margin-bottom: 5px;

    @media (min-width: $screen-xs) {
      position: relative;
      padding: 15px 15px 0 0;
      margin-bottom: 40px;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 20px;
        content: '';
        background-color: $border-c;
      }
    }
  }

  &__title {
    @include title;
    margin-bottom: 20px;

    @media (min-width: $screen-xs) {
      margin-bottom: 45px;
    }

    @media (min-width: $screen-xl) {
      font-size: 79px;
    }
  }

  &__data {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 30px;
      grid-template: 'prices spec-list' / 1fr 1fr;
    }
  }

  &__prices {
    margin-bottom: 20px;

    @media (min-width: $screen-xs) {
      grid-area: prices;
    }
  }

  &__price {
    font-size: 14px;
    line-height: 1.45em;
    color: $text-c--muted;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    span {
      margin-right: 10px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.2em;
      color: $text-c;
    }
  }

  &__spec-list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      grid-area: spec-list;
    }
  }

  &__spec {
    padding: 0;
    margin: 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @media (min-width: $screen-xs) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $text-c--muted;

    @media (min-width: $screen-sm) {
      margin-bottom: 15px;
    }

    span {
      position: relative;
      display: inline-flex;
      vertical-align: top;

      &::after {
        position: absolute;
        top: 50%;
        left: calc(100% + 15px);
        width: 30px;
        height: 1px;
        content: '';
        background-color: $primary-c;
      }
    }

    &--accent {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2em;
      color: $text-c;

      &::after {
        left: calc(100% + 30px);
      }
    }
  }

  &__actions {
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      margin-top: auto;
    }
  }

  &__full-desc {
    grid-area: full-desc;
    padding: 45px 20px;

    @media (min-width: $screen-xs) {
      padding: 30px 0;
    }

    @media (min-width: $screen-md) {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__intro {
    max-width: 45ch;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      grid-column: 1 / span 3;
    }
  }

  &__text {
    max-width: 75ch;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.45em;

    @media (min-width: $screen-md) {
      grid-column: 4 / span 3;
    }
  }

  &__quote {
    max-width: 45ch;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2em;

    @media (min-width: $screen-md) {
      grid-column: 10 / span 3;
    }
  }
}
