// Width
$screen-xs:             576px;
$screen-sm:             768px;
$screen-md:             992px;
$screen-lg:             1200px;
$screen-xl:             1440px;
$screen-xxl:            1920px;



// Shades
$gray--900:             #2b333b;
$gray--500:             #9da5af;
$gray--300:             #d3d8de;
$gray--100:             #f0f2f5;
$white:                 #fff;



// Project colors
$bg-c:                  $white;
$bg-c--dark:            #122031;
$text-c:                $gray--900;
$text-c--muted:         $gray--500;
$primary-c:             #1b5998;
$accent-c:              #db5d23;



// Fonts
$font-f:                ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

$font-f--serif:         ui-serif, serif;



// Misc
$border-c:              $gray--300;
$border-r:              4px;
$transition-t:          cubic-bezier(0.15, 0.85, 0.45, 1);
$transition-t--faster:  cubic-bezier(0.075, 0.82, 0.165, 1);



// Styles

@mixin s-basics {
  padding: 45px 20px;

  @media (min-width: $screen-xs) {
    padding: 60px 45px 90px;
  }

  @media (min-width: $screen-sm) {
    padding: 90px 45px 120px;
  }
}

@mixin container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

@mixin subtitle {
  display: block;
  max-width: 45ch;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.5em;
  color: $text-c--muted;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @media (min-width: $screen-xs) {
    margin-bottom: 15px;
  }
}

@mixin title {
  max-width: 18ch;
  margin-top: 0;
  margin-left: -0.025em;
  font-family: $font-f--serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2em;

  @media (min-width: 375px) {
    font-size: 39px;
    line-height: 1.1em;
  }

  @media (min-width: $screen-xs) {
    font-size: 56px;
    line-height: 1em;
    letter-spacing: -0.01em;
  }
}
