mixin filter()

  .s-filter&attributes(attributes)
    ul.s-filter__list
      li.s-filter__item.s-filter__item--is-active
        a(href='/') Все
      li.s-filter__item
        a(href='/') Санкт-Петербург
      li.s-filter__item
        a(href='/') Москва
      li.s-filter__item
        a(href='/') Турция
      li.s-filter__item
        a(href='/') Крым