.s-filter {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0 5px 5px 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: block;
      padding: 4px 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.45em;
      color: currentColor;
      text-decoration: none;
      border: 1px solid $text-c--muted;
      border-color: $text-c--muted;
      border-radius: 50px;
      transition: 0.25s $transition-t;

      &:hover,
      &:focus {
        color: $primary-c;
        border-color: $primary-c;
      }
    }

    &--is-active {

      a {
        color: $primary-c;
        border-color: $primary-c;
      }
    }
  }
}
