.s-project-card {
  display: grid;
  overflow: hidden;
  color: $white;
  background-color: $bg-c--dark;

  &:hover {

    .s-project-card__media {

      &::before {
        opacity: 0.25;
      }

      img {
        transform: none;
      }
    }
  }

  &__info {
    z-index: 2;
    display: flex;
    grid-area: 1/-1;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    @media (min-width: $screen-xs) {
      padding: 30px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: auto;
    font-family: $font-f--serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;

    @media (min-width: $screen-xs) {
      font-size: 28px;
      line-height: 1.2em;
    }
  }

  &__desc {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.45em;

    @media (min-width: $screen-xs) {
      margin-bottom: 30px;
    }
  }

  &__media {
    --aspect-ratio: 4/3;
    position: relative;
    z-index: 1;
    grid-area: 1/-1;
    width: 100%;
    min-height: 0;
    padding-top: calc((1 / (var(--aspect-ratio))) * 100%);

    @media (min-width: $screen-xs) {
      --aspect-ratio: 3/4;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      content: '';
      background-color: $bg-c--dark;
      opacity: 0.5;
      transition: 0.75s $transition-t;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: 1s $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }

    @supports (aspect-ratio: 1) {
      padding-top: initial;
      aspect-ratio: var(--aspect-ratio);

      img {
        position: relative;
      }
    }
  }
}
