mixin project-card(props)

  article.s-project-card
    .s-project-card__info
      h3.s-project-card__title!= props.title
      .s-project-card__desc
        p!= props.desc
      +btn('Подробнее', '/', 'light, small')
    .s-project-card__media
      img(src=props.media, alt='')